.titleBadge {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

.movieBackButton {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

.subHeader {
    margin-left: 14px;
    margin-right: 14px;
}

.detailsContainer {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-left: 14px;
    margin-right: 14px;
}